@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for all elements with .scrollbar-none */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
